---
tags: "posts"
title: "Curso Programación Web"
date: "Last Modified"
---

h1 #{title}
p.
    As part of social job and collaboration with esposible.org organization hosted by Simon Levy, I had teach a course fully in Spanish of around 14 hours along several weeks and I had uploaded all on Youtube, I hope you enjoy the content, I will update the courses soon, here are the links for Youtube reproduction list and the material in PDF format: 
