---
layout: "index.pug"
---
// contents
p my posts are here:
-const posts = collections.posts;
ul(class="text-[2em] list-disc")
 for post in posts
  li
   a(href=post.url) #{post.data.title}

// presentation card
div(class="block rounded-2xl content-center text-center p-[5%] m-auto bg-[#0000001E] dark:bg-[#FFFFFF1E] w-[400px]")
 div.avatar
  div.w-40.rounded-full
   img.content-center(src="https://placeimg.com/192/192/people")
 h3(class="text-[3em]") Ivan Robles
 //github
 a(href="https://github.com/navitux/")
  img(class="inline" src="https://img.icons8.com/nolan/48/github.png" alt="github")
 //email
 a(href="mailto:navitux@disroot.org")
  img(class="inline" src="https://img.icons8.com/nolan/48/1A6DFF/C822FF/email.png" alt="email")
 //mastodon
 a(href="https://masto.nobigtech.es/@navitux")
  +masto_ico
 ul(class="text-[1em] list-disc")
  li Informatics Engineer
  li Fullstack Software Developer
  li Linux sysadmin & fan 
  li test engineer
  