---
tags: "posts"
title: "Taller de Programaci贸n Web 2"
date: "Last Modified"
description: "Reduced Version of my Front-end Web programming Workshop"
imgtag: "tech"
---
extends ./_includes/base.pug
block content
 article.text-left
  p As part of my social labour with my collaboration with esposible.org, I had made and teach a workshop of web programming in Spanish that was a short version of the previous one, here are the links to the videos on YouTube and the material now in Web version:
  br
  a.link(href="https://navitux.neocities.org/taller-programacion-web/") Web Slides Material (at neocities)
  br
  a.link(href="https://youtu.be/bAVJWEmLbgo") Taller Programaci贸n web Front-End 2022 - Video 1
  br
  a.link(href="https://youtu.be/EsHfXKJTkEE") Taller Programaci贸n web Front-End 2022 - Video 2
  br
  a.link(href="https://youtu.be/3y1vC86aqEk") Taller Programaci贸n web Front-End 2022 - Video 3